<template>
  <div
    class="font-source p-0 sm:p-4 pb-18 sm:pb-18 md:p-18 md:flex md:items-center md:justify-start md:flex-grow md:flex-shrink md:h-full"
  >
    <div class="sm:shadow-2xl md:shadow-4xl md:flex md:h-109 md:h-110 relative">
      <section class="flex flex-col-reverse md:flex-row-reverse md:w-full">
        <div
          class="z-20 css-selector w-full md:w-118 px-a pb-b pt-c md:px-14 md:pt-14 md:pb-8 md:flex md:flex-col md:justify-center text-white opacity-85 bg-red-900 bg-opacity-75"
        >
          <h1
            class="text-4xl md:text-5xl md:leading-13 leading-10 font-bold font-arial tracking-tighter"
          >
            Hello, my name<br class="hidden" />
            is Ethereal
          </h1>
          <div class="w-14 border-b-1/2 border-white my-d border-opacity-25"></div>
          <p class="pb-6 text-sm leading-7">
            This is <strong>Ethereal</strong>, a free site template by AJ for
            <a
              href="https://html5up.net"
              class="border-dotted border-b-1/2 border-white"
              >HTML5 UP</a
            >. It’s fully responsive, built on HTML5 and CSS3, and released
            entirely for free under the Creative Commons license. Hope you dig
            it :)
          </p>
          <ul class="mb-6">
            <li>
              <a href="#first"
                >
                <i class="fas fa-angle-right text-2gxl w-13 h-13 bg-white text-morado2 text-center leading-13 rounded-full"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="bg-bottom bg-red-900 bg-opacity-75 h-72 md:h-full md:w-71">
          <img
            src="../assets/img/pic01.jpg"
            alt=""
            class="object-cover w-full h-full opacity-85"
            style="object-position: 25% 25%"
          />
        </div>
      </section>
      <section class="relative md:h-full md:w-130 flex justify-end" id="first ">
        <div
          class="bg-gray-900 bg-opacity-50 z-20 h-30rem sm:h-97 md:h-full w-full md:w-130 flex flex-col justify-center md:flex-row md:justify-end md:items-center px-a pb-b pt-c md:px-14 md:pt-14 md:pb-8 text-white opacity-85 absolute md:relative"
        >
          <div class="md:w-1/7">
            <h2
              class="text-2xl md:text-2gxl leading-10 font-bold font-arial tracking-tighter"
            >
              Sed etiam aenean
            </h2>
            <div class="w-14 border-b-1/2 border-white border-opacity-50 my-4"></div>
            <p class="pb-6 text-sm leading-7">
              Mauris et ligula arcu. Proin dapibus convallis accumsan. Lorem
              maximus hendrerit orci, sit amet elementum massa hendrerit sed.
              Donec et ullamcorper ligula. Suspendisse amet potenti. Ut pretium
              libero eleifend euismod sed tristique. Quisque dictum magna risus,
              id ultricies justo sagittis vitae. Sed id odio tempor, porttitor
              elit amet, gravida hendrerit fringilla lorem ipsum dolor.
            </p>
          </div>
        </div>
        <div class="md:absolute md:h-full md:w-full">
          <img
            src="../assets/img/pic02.jpg"
            alt=""
            class="h-30rem sm:h-97 md:h-full w-full object-cover"
            style="object-position: 0% 25%"
          />
        </div>
      </section>
      <section class="css-selector2 w-full text-white md:relative">
        <div class=" md:flex md:h-full">
          <div
            class="z-20 px-a pt-c md:pl-14 md:pt-14 md:pb-8 md:pr-0 md:w-74 md:flex md:flex-col md:justify-center"
          >
            <h2
              class="text-2xl md:text-2gxl leading-10 font-bold font-arial tracking-tighter"
            >
              Amet lorem
            </h2>
            <div class="w-14 border-b-1/2 border-white border-opacity-25 my-4"></div>
            <p class="pb-6 text-sm leading-7">
              Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis
              congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum
              amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna
              etiam.
            </p>
          </div>
          <div
            class="px-a pb-b md:pr-14 md:pt-14 md:pb-8 md:pl-ba md:flex md:items-center"
          >
            <ul
              class="mt-16 flex flex-wrap md:justify-center text-2gxl justify-start w-full md:w-85 md:h-20 mt-4g ml-4g mr-0 mb-6"
            >
              <li
                class="ml-4 mt-4 w-17 h-17 md:w-19 md:h-19 md:text-4axl p-0 rounded-full border-gray-400 border-a flex items-center justify-center"
              >
                <i class="far fa-gem"></i>
              </li>
              <li
                class="ml-4 mt-4 w-17 h-17 md:w-19 md:h-19 md:text-4axl p-0 rounded-full border-gray-400 border-a flex items-center justify-center"
              >
                <i class="fas fa-camera-retro"></i>
              </li>
              <li
                class="ml-4 mt-4 w-17 h-17 md:w-19 md:h-19 md:text-4axl p-0 rounded-full border-gray-400 border-a flex items-center justify-center"
              >
                <i class="fas fa-cog"></i>
              </li>
              <li
                class="ml-4 mt-4 w-17 h-17 md:w-19 md:h-19 md:text-4axl p-0 rounded-full border-gray-400 border-a flex items-center justify-center"
              >
                <i class="fas fa-paper-plane"></i>
              </li>
              <li
                class="ml-4 mt-4 w-17 h-17 md:w-19 md:h-19 md:text-4axl p-0 rounded-full border-gray-400 border-a flex items-center justify-center"
              >
                <i class="fas fa-chart-bar"></i>
              </li>
              <li
                class="ml-4 mt-4 w-17 h-17 md:w-19 md:h-19 md:text-4axl p-0 rounded-full border-gray-400 border-a flex items-center justify-center"
              >
                <i class="fas fa-code"></i>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="relative md:h-full md:w-145 flex">
        <div
          class="bg-red-900 bg-opacity-50 z-20 h-30rem sm:h-97 md:h-full w-full md:w-145 flex flex-col justify-center md:flex-row md:justify-start md:items-center px-a pb-b pt-c md:px-14 md:pt-14 md:pb-8 text-white opacity-85 absolute md:static"
        >
          <div class="md:w-1/2">
            <h2
              class="text-2xl md:text-2gxl leading-10 font-bold font-arial tracking-tighter"
            >
              Magna amet tempus
            </h2>
            <div class="w-14 border-b-1/2 border-white border-opacity-50 my-4"></div>
            <p class="pb-6 text-sm leading-7">
              Mauris a cursus velit. Nunc lacinia sollicitudin egestas bibendum,
              magna dui bibendum ex, sagittis commodo enim risus sed magna
              nulla. Vestibulum ut consequat velit. Curabitur vitae libero
              lorem. Quisque iaculis porttitor blandit. Nullam quis sagittis
              maximus. Sed vel nibh libero. Mauris et lorem pharetra massa lorem
              turpis congue pulvinar.
            </p>
          </div>
        </div>
        <div class="md:absolute md:h-full md:w-full" data-position="top right">
          <img
            src="../assets/img/pic03.jpg"
            alt=""
            class="h-30rem sm:h-97 object-cover md:h-full"
            style="object-position: 100% 25%"
          />
        </div>
      </section>
      <section
        class="css-selector3 w-full text-white opacity-85 md:flex md:relative"
      >
        <div class="md:flex md:flex-col md:justify-center">
          <div class="md:w-88 px-a pb-b pt-c md:px-14 md:pt-14 md:pb-8">
            <h2
              class="text-2xl md:text-2gxl leading-10 font-bold font-arial tracking-tighter"
            >
              Elit integer
            </h2>
            <div class="w-14 border-b-1/2 border-white border-opacity-25 my-4"></div>
            <p class="pb-6 text-sm leading-7">
              Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis
              congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum
              amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna
              etiam.
            </p>
          </div>
        </div>
        <div class="md:flex">
          <div class="flex flex-wrap w-full md:w-30rem">
            <div class="overflow-hidden h-21 sm:h-80 md:h-1/2 md:w-30rem">
              <a href="../assets/img/01.jpg" class=" "
                ><img
                  src="../assets/img/01.jpg"
                  alt=""
                  class="object-cover w-full h-full object-bottom"
                  id="zoom"
              /></a>
            </div>
            <div class="overflow-hidden h-21 sm:h-80 md:h-1/2 w-1/2.5 md:w-51">
              <a href="../assets/img/02.jpg" class=""
                ><img
                  src="../assets/img/02.jpg"
                  alt=""
                  class="object-cover w-full h-full object-center"
                  id="zoom"
              /></a>
            </div>
            <div class="overflow-hidden h-21 sm:h-80 md:h-1/2 w-1/2.5 md:w-51">
              <a href="../assets/img/03.jpg" class=""
                ><img
                  src="../assets/img/03.jpg"
                  alt=""
                  class="object-cover w-full h-full object-bottom"
                  id="zoom"
              /></a>
            </div>
          </div>
          <div>
            <div class="overflow-hidden h-30rem sm:h-120 md:w-97 md:h-full">
              <a href="../assets/img/04.jpg" class=""
                ><img
                  src="../assets/img/04.jpg"
                  alt=""
                  class="object-cover h-full w-full object-top"
                  style=""
                  id="zoom"
              /></a>
            </div>
          </div>
          <div class="flex flex-wrap w-full md:w-125">
            <div class="overflow-hidden h-21 sm:h-80 md:w-30rem md:h-1/2">
              <a href="../assets/img/05.jpg" class=""
                ><img
                  src="../assets/img/05.jpg"
                  alt=""
                  class="object-cover w-full h-full object-top"
                  id="zoom"
              /></a>
            </div>
            <div class="overflow-hidden h-21 sm:h-80 w-1/2.5 md:w-51 md:h-1/2">
              <a href="../assets/img/06.jpg" class=" "
                ><img
                  src="../assets/img/06.jpg"
                  alt=""
                  class="object-cover w-full h-full object-center"
                  id="zoom"
              /></a>
            </div>
            <div class="overflow-hidden h-21 sm:h-80 w-1/2.5 md:w-51 md:h-1/2">
              <a href="../assets/img/07.jpg" class=""
                ><img
                  src="../assets/img/07.jpg"
                  alt=""
                  class="object-cover w-full h-full object-bottom"
                  id="zoom"
              /></a>
            </div>
            <div class="overflow-hidden h-21 sm:h-80 md:w-30rem md:h-1/2">
              <a href="../assets/img/08.jpg" class=""
                ><img
                  src="../assets/img/08.jpg"
                  alt=""
                  class="object-cover w-full h-full object-top"
                  id="zoom"
              /></a>
            </div>
          </div>
          <div>
            <div class="overflow-hidden h-30rem sm:h-120 md:w-97 md:h-full">
              <a href="../assets/img/09.jpg" class=""
                ><img
                  src="../assets/img/09.jpg"
                  alt=""
                  class="object-cover h-full w-full object-right"
                  id="zoom"
              /></a>
            </div>
          </div>
        </div>
      </section>
      <section class="w-full text-white css-selector4 md:flex md:relative">
        <div
          class=" md:flex md:flex-col md:justify-center"
        >
          <div class="md:w-88 px-a pt-c pb-b md:px-14 md:pt-14 md:pb-8">
            <h2
              class="text-2xl md:text-2gxl leading-10 font-bold font-arial tracking-tighter"
            >
              Contact
            </h2>
            <div class="w-14 border-b-1/2 border-white border-opacity-25 my-4"></div>
            <p class="pb-6 text-sm leading-7">
              Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis
              congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum
              amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna
              etiam.
            </p>
          </div>
        </div>
        <div
          class="selector-5 px-a pt-c pb-b md:px-14 md:pt-14 md:pb-8 md:flex md:justify-center"
        >
          <div class="md:w-112 md:flex md:items-center">
            <form method="post" action="#" class="font-arial mb-5">
              <div class="">
                <div class="md:flex">
                  <div class="pl-5 ml-5- mt-5- pt-5">
                    <label for="name" class="font-bold text-vs  mb-ab block"
                      >Name</label
                    >
                    <input
                      type="text"
                      name="name"
                      id="name"
                      class="w-full h-9g bg-transparent rounded border-b border-gray-500 focus:outline-none focus:border-yellow-300 p-2"
                    />
                  </div>
                  <div class="pl-5 ml-5- pt-5 md:mt-5- md:ml-0">
                    <label for="email" class="font-bold text-vs mb-ab mb-ab block"
                      >Email</label
                    >
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="w-full h-9g bg-transparent rounded border-b border-gray-500 focus:outline-none focus:border-yellow-300 p-2"
                    />
                  </div>
                </div>
                <div class="pl-5 ml-5- pt-5">
                  <label for="message" class="font-bold text-vs  mb-ab block"
                    >Message</label
                  >
                  <textarea
                    name="message"
                    id="message"
                    rows="4"
                    class="w-full bg-transparent rounded border-b border-gray-500 focus:outline-none focus:border-yellow-300 p-2"
                  ></textarea>
                </div>
              </div>
              <ul class="pl-5 ml-5- pt-5">
                <li>
                  <input
                    type="submit"
                    value="SEND MESSAGE"
                    class="tracking-exodya pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-morado rounded border-2 border-white focus:outline-none hover:border-white hover:bg-opacity-75 hover:bg-yellow-200 bg-white transition ease-in-out duration-700 flex justify-center w-64"
                  />
                </li>
              </ul>
            </form>
          </div>
          <div class="md:flex md:items-center">
            <div
              class="w-full border-b-b border-gray-500 md:border-b-0 md:border-l-b md:h-full my-12 md:mx-14"
            ></div>
          </div>
          <div class="md:w-51 flex items-center">
            <ul class="contact-icons color1 mb-5g">
              <li class="mt-5g">
                <i
                  class="fab fa-twitter text-xl w-7g h-7g text-morado bg-white text-center object-center leading-9 rounded-full mr-4"
                ></i>
                <a href="#">@untitled-tld</a>
              </li>
              <li class="mt-5g">
                <i
                  class="fab fa-facebook-f text-xl w-7g h-7g text-morado bg-white text-center object-center leading-9 rounded-full mr-4"
                ></i>
                <a href="#">facebook.com/untitled</a>
              </li>
              <li class="mt-5g">
                <i
                  class="fab fa-snapchat-ghost text-xl w-7g h-7g text-morado bg-white text-center object-center leading-9 rounded-full mr-4"
                ></i>
                <a href="#">@untitled-tld</a>
              </li>
              <li class="mt-5g">
                <i
                  class="fab fa-instagram text-xl w-7g h-7g text-morado bg-white text-center object-center leading-9 rounded-full mr-4"
                ></i>
                <a href="#">@untitled-tld</a>
              </li>
              <li class="mt-5g">
                <i
                  class="fab fa-mix text-xl w-7g h-7g text-morado bg-white text-center object-center leading-9 rounded-full mr-4"
                ></i>
                <a href="#">medium.com/untitled</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="css-selector3 text-white md:flex">  
        <div class="md:flex md:flex-col md:justify-center">
          <div class="md:w-88 px-a pb-b pt-c md:px-14 md:pt-14 md:pb-8">
            <h2
              class="text-2xl md:text-2gxl leading-10 font-bold font-arial tracking-tighter"
            >
              Elements
            </h2>
            <div class="w-14 border-b-1/2 border-white border-opacity-25 my-4"></div>
            <p class="pb-6 text-sm leading-7">
              Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis
              congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum
              amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna
              etiam.
            </p>
          </div>
        </div>
        <div class="px-a pb-b pt-c md:px-14 md:pt-14 md:pb-8 md:flex md:w-full">
          <div class="md:flex md:flex-col md:w-full">
            <div class="md:w-27.5rem">
              <h3 class="font-bold">Text</h3>
              <div class="w-14 border-b-1/2 border-white border-opacity-25 mb-4 mt-ac"></div>
              <p class="pb-6 text-sm leading-7">
                This is <b>bold</b> and this is <strong>strong</strong>. This is
                <i>italic</i> and this is <em>emphasized</em>. This is
                <sup>superscript</sup> text and this is
                <sub>subscript</sub> text. This is <u>underlined</u> and this is
                code:
                <code class="bg-white bg-opacity-25 py-ad rounded"
                  >for (;;) { ... }</code
                >. Finally,
                <a href="#" class="border-dotted border-b-1/2 border-white"
                  >this is a link</a
                >.
              </p>

              <h1 class="font-bold text-4xl mb-ae">Heading Level 1</h1>
              <h2 class="font-bold text-2xl mb-ae">Heading Level 2</h2>
              <h3 class="font-bold text-base mb-ae">Heading Level 3</h3>
              <h4 class="font-bold text-base mb-ae">Heading Level 4</h4>
              <h5 class="font-bold text-catro mb-ae">Heading Level 5</h5>
              <h6 class="font-bold text-ys mb-ae">Heading Level 6</h6>
            </div>
          </div>
          <div class="md:flex md:flex-col md:w-full md:ml-14">
            <div class="md:w-30rem">
              <h4 class="font-bold text-base mb-ae">Blockquote</h4>
              <blockquote
                class="italic text-sm text-white text-opacity-75 border-l-c border-white border-opacity-50 mb-4 py-af pl-6 mt-ac"
              >
                Lorem ipsum dolor sit amet. Felis sagittis eget tempus euismod.
                Vestibulum ante ipsum primis in vestibulum. Blandit adipiscing
                eu iaculis volutpat ac adipiscing volutpat ac adipiscing
                faucibus.
              </blockquote>

              <h4 class="font-bold text-base mb-ae">Preformatted</h4>
              <pre class="mb-6">
            <code class="bg-white bg-opacity-25 rounded  py-4 block text-vs text-white text-opacity-75">   i = 0;
<!--los br son temporales-->
     while (!deck.isInOrder()) {
        print 'Iteration ' + (i++);
        deck.shuffle();
    }

    print 'It took ' + i + '  iterations to <br>    sort the deck.';</code></pre>
              <!--los br son temporales-->
            </div>
          </div>
          <div class="md:flex md:flex-col md:w-full md:ml-14">
            <div class="md:w-21">
              <h3 class="font-bold">Lists</h3>
              <div class="w-14 border-b-1/2 border-white border-opacity-25 mb-4 mt-ac"></div>
              <h4 class="font-bold mb-ag">Unordered</h4>
              <ul class="text-catro list-disc pl-4 mb-6 leading-6">
                <li class="pl-2 text-white text-opacity-75">
                  Lorem ipsum dolor sit.
                </li>
                <li class="pl-2 text-white text-opacity-75">
                  Dolor pulvinar etiam.
                </li>
                <li class="pl-2 text-white text-opacity-75">
                  Etiam vel felis viverra.
                </li>
              </ul>

              <h4 class="font-bold mb-ag">Alternate</h4>
              <ul class="text-catro mb-6">
                <li
                  class="text-white text-opacity-75 pb-2 border-b-border border-white border-opacity-50"
                >
                  Lorem ipsum dolor sit.
                </li>
                <li
                  class="text-white text-opacity-75 py-2 border-b-border border-white border-opacity-50"
                >
                  Dolor pulvinar etiam.
                </li>
                <li
                  class="text-white text-opacity-75 py-2 border-b-border border-white border-opacity-50"
                >
                  Etiam vel felis viverra.
                </li>
                <li class="text-white text-opacity-75 pt-2">
                  Felis enim feugiat.
                </li>
              </ul>
            </div>
          </div>
          <div class="md:flex md:flex-col md:w-full md:ml-14">
            <div class="md:w-51">
              <h4 class="font-bold mb-ag">Ordered</h4>
              <ol class="list-decimal text-catro mb-6 pl-4 leading-6">
                <li class="pl-2 text-white text-opacity-75">
                  Lorem ipsum dolor sit.
                </li>
                <li class="pl-2 text-white text-opacity-75">
                  Dolor pulvinar etiam.
                </li>
                <li class="pl-2 text-white text-opacity-75">
                  Etiam vel felis viverra.
                </li>
                <li class="pl-2 text-white text-opacity-75">
                  Felis enim feugiat.
                </li>
                <li class="pl-2 text-white text-opacity-75">
                  Etiam vel felis lorem.
                </li>
              </ol>

              <h4 class="font-bold mb-ag">Actions</h4>
              <ul class="flex ml-ae- mb-6">
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-salmon rounded focus:outline-none border-b border-white hover:bg-opacity-75 hover:bg-yellow-200 hover:border-yellow-200 hover:border-opacity-75 bg-white transition ease-in-out duration-700 w-64"
                    >DEFAULT</a
                  >
                </li>
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700 w-64"
                    >DEFAULT</a
                  >
                </li>
              </ul>
              <ul class="flex flex-col ml-ae- mb-6">
                <li class="pl-ag pb-ah">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-salmon rounded focus:outline-none border-b border-white hover:bg-opacity-75 hover:bg-yellow-200 hover:border-yellow-200 hover:border-opacity-75 bg-white transition ease-in-out duration-700 w-64"
                    >DEFAULT</a
                  >
                </li>
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700 w-64"
                    >DEFAULT</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="md:flex md:flex-col md:w-full md:ml-14">
            <div class="md:w-21">
              <h4 class="font-bold mb-ag">Icons</h4>
              <ul class="flex mb-5g">
                <li class="">
                  <i
                    class="fab fa-twitter text-xl text-white text-center object-center leading-9 rounded-full mr-4"
                  ></i>
                </li>
                <li class="">
                  <i
                    class="fab fa-facebook-f text-xl text-white text-center object-center leading-9 mr-4"
                  ></i>
                </li>
                <li class="">
                  <i
                    class="fab fa-snapchat-ghost text-xl text-white text-center object-center leading-9 mr-4"
                  ></i>
                </li>
                <li class="">
                  <i
                    class="fab fa-github text-xl text-white text-center object-center leading-9 mr-4"
                  ></i>
                </li>
                <li class="">
                  <i
                    class="fab fa-mix text-xl text-white text-center object-center leading-9 mr-4"
                  ></i>
                </li>
              </ul>

              <h4 class="font-bold mb-ag">Contact Icons</h4>
              <ul class="contact-icons color1 mb-5g">
                <li class="mt-5g">
                  <i
                    class="fab fa-twitter text-xl w-7g h-7g text-salmon bg-white text-center object-center leading-9 rounded-full mr-4"
                  ></i>
                  <a href="#">Twitter</a>
                </li>
                <li class="mt-5g">
                  <i
                    class="fab fa-facebook-f text-xl w-7g h-7g text-salmon bg-white text-center object-center leading-9 rounded-full mr-4"
                  ></i>
                  <a href="#">Facebook</a>
                </li>
                <li class="mt-5g">
                  <i
                    class="fab fa-snapchat-ghost text-xl w-7g h-7g text-salmon bg-white text-center object-center leading-9 rounded-full mr-4"
                  ></i>
                  <a href="#">Instagram</a>
                </li>
                <li class="mt-5g">
                  <i
                    class="fab fa-github text-xl w-7g h-7g text-salmon bg-white text-center object-center leading-9 rounded-full mr-4"
                  ></i>
                  <a href="#">GitHub</a>
                </li>
                <li class="mt-5g">
                  <i
                    class="fab fa-mix text-xl w-7g h-7g text-salmon bg-white text-center object-center leading-9 rounded-full mr-4"
                  ></i>
                  <a href="#">Medium</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:flex md:flex-col md:w-full md:ml-14">
            <div class="md:w-30rem">
              <h3 class="font-bold mb-ag">Table</h3>
              <div class="w-14 border-b-1/2 border-white border-opacity-25 mb-4 mt-ac"></div>
              <h4 class="font-bold mb-ag">Default</h4>
              <div class="table-wrapper">
                <table class="text-catro w-full">
                  <thead>
                    <tr class="font-normal text-catro">
                      <th
                        class="pb-ag px-ag text-left border-b-b border-white border-opacity-50"
                      >
                        Name
                      </th>
                      <th
                        class="pb-ag px-ag text-left border-b-b border-white border-opacity-50"
                      >
                        Description
                      </th>
                      <th
                        class="pb-ag px-ag text-left border-b-b border-white border-opacity-50"
                      >
                        Price
                      </th>
                    </tr>
                  </thead>
                  <tbody
                    class="align-baseline text-white text-opacity-75 leading-6"
                  >
                    <tr class="bg-white bg-opacity-25">
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        Item One
                      </td>
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        Ante turpis integer aliquet porttitor.
                      </td>
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        29.99
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        Item Two
                      </td>
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        Vis ac commodo adipiscing arcu aliquet.
                      </td>
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        19.99
                      </td>
                    </tr>
                    <tr class="bg-white bg-opacity-25">
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        Item Three
                      </td>
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        Morbi faucibus arcu accumsan lorem.
                      </td>
                      <td
                        class="p-ag text-left border-b-border border-white border-opacity-50"
                      >
                        29.99
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="p-ag text-left border-b-b border-white border-opacity-75"
                      >
                        Item Four
                      </td>
                      <td
                        class="p-ag text-left border-b-b border-white border-opacity-75"
                      >
                        Vitae integer tempus condimentum.
                      </td>
                      <td
                        class="p-ag text-left border-b-b border-white border-opacity-50"
                      >
                        19.99
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td class="p-ag">100.00</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="md:flex md:flex-col md:w-full md:ml-14">
            <div class="md:w-30rem">
              <h4 class="font-bold mb-ag">Alternate</h4>
              <div class="">
                <table class="text-catro w-full">
                  <thead>
                    <tr class="font-normal text-catro">
                      <th class="pb-ag px-ag text-left">Name</th>
                      <th class="pb-ag px-ag text-left">Description</th>
                      <th class="pb-ag px-ag text-left">Price</th>
                    </tr>
                  </thead>
                  <tbody
                    class="align-baseline text-white text-opacity-75 leading-6"
                  >
                    <tr class="bg-white bg-opacity-25">
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Item One
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Ante turpis integer aliquet porttitor.
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        29.99
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Item Two
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Vis ac commodo adipiscing arcu aliquet.
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        19.99
                      </td>
                    </tr>
                    <tr class="bg-white bg-opacity-25">
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Item Three
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Morbi faucibus arcu accumsan lorem.
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        29.99
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Item Four
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Vitae integer tempus condimentum.
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        19.99
                      </td>
                    </tr>
                    <tr class="bg-white bg-opacity-25">
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Item Five
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        Ante turpis integer aliquet porttitor.
                      </td>
                      <td
                        class="p-ag text-left border-border border-white border-opacity-50"
                      >
                        29.99
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td class="p-ag">100.00</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="md:flex md:flex-col md:w-full md:ml-14">
            <div class="md:w-22.5rem">
              <h3 class="font-bold mb-ag">Buttons</h3>
              <div class="w-14 border-b-1/2 border-white border-opacity-25 mb-4 mt-ac"></div>
              <ul class="flex ml-ae- mb-6">
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-salmon rounded focus:outline-none border-b border-white hover:bg-opacity-75 hover:bg-yellow-200 hover:border-yellow-200 hover:border-opacity-75 bg-white transition ease-in-out duration-700"
                    >PRIMARY</a
                  >
                </li>
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700"
                    >DEFAULT</a
                  >
                </li>
              </ul>
              <ul class="flex ml-ae- mb-6">
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700"
                    >DEFAULT</a
                  >
                </li>
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-13g pl-8a pr-8 cursor-pointer h-13g text-zs font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700 text-vs"
                    >LARGE</a
                  >
                </li>
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-7d pl-5g pr-5d cursor-pointer h-7d text-zaa font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700"
                    >SMALL</a
                  >
                </li>
              </ul>
              <ul class="flex ml-ae- mb-6">
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-salmon rounded focus:outline-none border-b border-white hover:bg-opacity-75 hover:bg-yellow-200 hover:border-yellow-200 hover:border-opacity-75 bg-white transition ease-in-out duration-700"
                    ><i class="far fa-gem text-vs pr-af"></i>ICON</a
                  >
                </li>
                <li class="pl-ag">
                  <a
                    href="#"
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700"
                  >
                    <i class="fas fa-cog text-vs pr-af"></i>ICON</a
                  >
                </li>
              </ul>
              <ul class="flex ml-ae- mb-6">
                <li class="pl-ag">
                  <span
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-salmon rounded focus:outline-none border-b border-white hover:bg-opacity-75 hover:bg-yellow-200 hover:border-yellow-200 hover:border-opacity-75 bg-white transition ease-in-out duration-700 w-64"
                    >DISABLED</span
                  >
                </li>
                <li class="pl-ag">
                  <span
                    class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700 w-64"
                    >DISABLED</span
                  >
                </li>
              </ul>
              <ul class="flex mb-6">
                <li class="">
                  <a
                    href="#"
                    class="fas fa-cog text-xl w-13 h-13 text-salmon bg-white text-center object-center leading-13 rounded-full mr-4"
                  ></a>
                </li>
                <li class="">
                  <a
                    href="#"
                    class="far fa-gem text-xl w-13 h-13 border-b border-white border-opacity-50 text-whith bg-transparent text-center object-center leading-13 rounded-full mr-4"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:flex md:flex-col md:w-full md:ml-14">
            <div class="md:w-125">
              <h3 class="font-bold mb-ag">Form</h3>
              <div class="w-14 border-b-1/2 border-white border-opacity-25 mb-4 mt-ac"></div>
              <form method="post" action="#">
                <div class="mb-5">
                  <div class="md:flex md:w-full">
                    <div class="pl-5 ml-5- mt-5- pt-5 md:w-full">
                      <label
                        for="demo-name"
                        class="font-bold text-vs mb-ab block"
                        >Name</label
                      >
                      <input
                        type="text"
                        name="demo-name"
                        id="demo-name"
                        value=""
                        class="placeholder-white placeholder-opacity-50 w-full h-9g bg-transparent text-white text-opacity-50 rounded border-b border-white border-opacity-50 focus:outline-none focus:border-yellow-300 p-2"
                        placeholder="Jane Doe"
                      />
                    </div>
                    <div class="pl-5 ml-5- pt-5 md:mt-5- md:ml-0 md:w-full">
                      <label
                        for="demo-email"
                        class="font-bold text-vs mb-ab block"
                        >Email</label
                      >
                      <input
                        type="email"
                        name="demo-email"
                        id="demo-email"
                        value=""
                        class="placeholder-white placeholder-opacity-50 w-full h-9g bg-transparent text-white text-opacity-50 rounded border-b border-white border-opacity-50 focus:outline-none focus:border-yellow-300 p-2"
                        placeholder="jane@untitled.tld"
                      />
                    </div>
                    <div class="pl-5 ml-5- pt-5 md:mt-5- md:ml-0 md:w-full">
                      <label
                        for="demo-category"
                        class="block font-bold text-vs mb-ab"
                        >Category</label
                      >
                      <div class="">
                        <select
                          name="demo-category"
                          id="demo-category"
                          class="placeholder-white placeholder-opacity-50 w-full h-9g bg-transparent text-white text-opacity-50 rounded border-b border-white border-opacity-50 focus:outline-none focus:border-yellow-300 p-2"
                        >
                          <option class="bg-gray-900" value="">-</option>
                          <option class="bg-gray-900" value="1">
                            Manufacturing
                          </option>
                          <option class="bg-gray-900" value="1">
                            Shipping
                          </option>
                          <option class="bg-gray-900" value="1">
                            Administration
                          </option>
                          <option class="bg-gray-900" value="1">
                            Human Resources
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="md:flex md:justify-between">
                    <div class="pl-5 ml-5- pt-5">
                      <input
                        type="radio"
                        id="demo-priority-low"
                        name="demo-priority"
                        class=""
                        checked=""
                      />
                      <label for="block">Low Priority</label>
                    </div>
                    <div class="pl-5 ml-5- md:ml-0 pt-5">
                      <input
                        type="radio"
                        id="demo-priority-high"
                        name="demo-priority"
                        class=""
                      />
                      <label for="block">High Priority</label>
                    </div>
                    <div class="pl-5 ml-5- pt-5">
                      <input
                        type="checkbox"
                        id="demo-copy"
                        name="demo-copy"
                        class=""
                      />
                      <label for="block">Email a copy</label>
                    </div>
                    <div class="pl-5 ml-5- pt-5">
                      <input
                        type="checkbox"
                        id="demo-human"
                        name="demo-human"
                        class=""
                        checked=""
                      />
                      <label for="demo-human">Not a robot</label>
                    </div>
                  </div>
                  <div class="pl-5 ml-5- pt-5">
                    <label
                      for="demo-message"
                      class="font-bold text-vs mb-ab block"
                      >Message</label
                    >
                    <textarea
                      name="demo-message"
                      id="demo-message"
                      placeholder="Enter your message"
                      rows="2"
                      class="placeholder-white placeholder-opacity-50 w-full bg-transparent text-white text-opacity-50 rounded border-b border-white border-opacity-50 focus:outline-none focus:border-yellow-300 py-ae px-4"
                    ></textarea>
                  </div>
                </div>
                <ul class="flex ml-ae- mb-6">
                  <li class="pl-ag">
                    <input
                      type="submit"
                      value="SEND MESSAGE"
                      class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-salmon rounded focus:outline-none border-b border-white hover:bg-opacity-75 hover:bg-yellow-200 hover:border-yellow-200 hover:border-opacity-75 bg-white transition ease-in-out duration-700"
                    />
                  </li>
                  <li class="pl-ag">
                    <input
                      type="reset"
                      value="RESET"
                      class="tracking-exodya inline-block leading-11 pl-6 pr-7 cursor-pointer h-11 text-zs font-bold text-white rounded focus:outline-none border-b border-white border-opacity-50 hover:text-yellow-200 hover:border-yellow-200 bg-transparent transition ease-in-out duration-700"
                    />
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </section>
      <div
        class="flex justify-center items-center w-full text-vs text-gray-600 h-18 text-vs md:w-120 absolute md:right-6rem md:bottom-4rem md:text-gray-600"
      >
        © Untitled. Design:
        <a
          href="https://html5up.net"
          class="border-dotted border-b-1/2 border-gray-500"
          >HTML5 UP</a
        >. Demo Images:
        <a
          href="https://unsplash.com"
          class="border-dotted border-b-1/2 border-gray-500"
          >Unsplash</a
        >.
      </div>
      <div id="right"></div>
      <div id="left"></div>
    </div>
  </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#zoom {
  transition: transform 0.2s;
}

#zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.css-selector {
  background: rgb(114,97,147);
background: linear-gradient(45deg, rgba(114,97,147,1) 20%, rgba(227,123,124,1) 60%, rgba(255,228,180,1) 100%);
}

.css-selector2 {
  background-image: url(../assets/img/overlay.png), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-size: 128px 128px, auto;
background-color: #726193;

}



.css-selector3 {
    background-image: url(../assets/img/overlay.png), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-size: 128px 128px, auto;
background-color:   #e37b7c;
}

.css-selector4 {
  background-image: url(../assets/img/overlay.png), linear-gradient(135deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  background-size: 128px 128px, auto;
background-color: #323459;
;

}
</style>
