<template>
  <div id="app" class="md:overflow-auto md:h-full bg-gray-300">
  
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>

import HelloWorld from './components/HelloWorld.vue'
import './assets/css/main.css'


export default {
  name: 'App',
  components: {
    HelloWorld 
  }
  
}
</script>

<style>

</style>
